extends ../layout

block content
    if error
        h1=error
    form(name="register", method="post")
        div.input
            span.label First name
            input(type="text", name="first_name")
        div.input
            span.label Lastname name
            input(type="text", name="last_name")
        div.input
            span.label Email
            input(type="text", name="email")
        div.input
            span.label Username
            input(type="text", name="username")
        div.input
            span.label Password
            input(type="password", name="password")
        div.input
            span.label Confirm Password
            input(type="password", name="confirm_password")
        div.input
            span.label Employee access code
            input(type="text", name="employee_access_code")
        div.actions
            input(type="submit", value="Register")