extends ../layout_auth

append content
    if message
        h1=message
    h3 Advanced HTML messaging system
    form(name="message", method="post")
        div.form-group
            div.input
                label(for="to") To (username)
                input.form-control(type="text", name="to", id="to")
        div.form-group
            div.input
                label(for="message") Message (Now with HTML support!)
                textarea.form-control(name="message", id="message", style="min-height:250px;")
        button.btn.btn-primary(type="submit", value="Send") Send