extends ../layout_auth

append content
    if admin_flag
        h2=admin_flag
    else
        p Welcome to the employee dashboard you non-administrator. Here you can send messages and change your accounts information. To do so just use the buttons above.