extends ../layout_auth

append content
    if error
        h1=error
    form(name="profile", method="post")
        span Leave any fields you do not wish to change empty
        div.input
            span.label First name
            input(type="text", name="first_name")
        div.input
            span.label Lastname name
            input(type="text", name="last_name")
        div.input
            span.label Email
            input(type="text", name="email")
        div.input
            span.label New Password (leave empty if you do not wish to change)
            input(type="password", name="password")
        div.input
            span.label Confirm New Password
            input(type="password", name="confirm_password")
        div.actions
            input(type="submit", value="Update")