extends layout

block content
    a(class='button', href='/dashboard?page=dashboard') Dashboard
    = '\n'
    a(class='button', href='/dashboard?page=profile') Profile
    = '\n'
    a(class='button', href='/dashboard?page=messenger') Messenger
    = '\n'
    a(class='button', href='/dashboard?page=logout') Logout